body {
      background-color: Black;
      font-family: sans-serif;
}

h1 {
  width: 715px;
height: 125px;

  font-family: Coda Caption;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 152px;
color: #F2F5FA;
}

h2 {
  width: 185px;
height: 90px;

  font-family: Gentium Basic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
color: #C30011;
}

h3 {

  font-family: Gentium Basic;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #CED2DC;
}

p {
  font-family: Gentium Basic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #CED2DC;
}

h3 {
  width: 900px;
height: 45px;

font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 20px;
color: #CED2DC;

}

  img {
    width: 100%;
    height: auto;
  }
