body {
      background-color: Black;
      font-family: sans-serif;
}

h1 {
  width: 100%;
  height: auto;

  font-family: Coda Caption;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 152px;
color: #F2F5FA;
}

h2 {
  width: 100%;
  height: auto;

  font-family: Gentium Basic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
color: #C30011;
}

h3 {
  width: 100%;
  height: auto;

  font-family: Gentium Basic;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #CED2DC;
}

p {
  font-family: Gentium Basic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #CED2DC;
}

h4 {
  width: 100%;
  height: auto;


font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 20px;
color: #CED2DC;

}

  .main{
    width: 100%;
    height: auto;
  }

  div {
    width: 500px;
    height: 500px;
    float: left;
  }
