font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
body {
background-color: #ecebf3;
font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
}
p {
  font-family: 'Lato', sans-serif;
}
